<% layout('layout/boilerplate')%>
<div class="container mb-1">
    <h1 class="text-center mb-10">
        Dom's Coffee Blog
    </h1>
</div>
<div class="row mt-10">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Who </h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <a class="btn btn-social-icon btn-github" href="https://www.github.com/domgada"><i
                        class="fa fa-github"></i></a>
                <a class="btn btn-block btn-social btn-twitter">
                    <span class="fa fa-twitter"></span>
                    Sign in with Twitter
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>