<% layout('layout/boilerplate')%>
<div class="container mb-1">
    <h1 class="text-center mb-10">
        Dom's Coffee Blog
    </h1>
</div>
<div class="row mt-10">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Who </h5>
                <p class="card-text">My name is Dominic, I go by Dom, I'm a programmer, coffee enthusiast, and novice photographer.</p>
                <p class="card-text">Currently I'm pursuing a degree in Management of Information Systems, at the University of California, Santa Cruz.</p>
                <p class="card-text">If you're interested in reaching out and connecting don't hesitate to connect on linkedin! I also have some other cool projects on github!</p>
                <a class="btn btn-social-icon btn-github" href="https://www.github.com/domgada"><i
                        class="fa fa-github"></i></a>
                <a class="btn btn-social-icon btn-linkedin" href="https://linkedin/com/in/dominic-gada"><i
                  class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Why did I make this website?</h5>
                <p class="card-text"> I want to inspire fellow coffee enthusiasts, especially in the California Bay Area, to embrace, and engage with ethical third wave shops.</p>
            </div>
        </div>
    </div>
</div>
