<% layout('layout/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Coffeeshop</h1>
    <div class="col-6 offset-3">
        <form action="/coffeeshops" class="validated-form" method="POST" novalidate>
            <div>
                <label class="form-label" for="title">Coffee Shop Name</label>
                <input class="form-control" type="text" id="title" name="shop[shopN]" required>
            </div>
            <div>
                <label class="form-label mt-1" for="location">Location</label>
                <input class="form-control mt-1" type="text" id="location" name="shop[location]" required>
            </div>
            <div>
                <label class="form-label mt-1" for="image">Image URL</label>
                <input class="form-control mt-1" type="text" id="image" name="shop[image]" required>
            </div>
            <!-- <div class="mt-1">
                <label for="price" class="form-label">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0" aria-label="price"
                        aria-describedby="basic-addon1">
                </div>
            </div> -->
            <div>
                <label class="form-label mt-1" for="description">Description</label>
                <input class="form-control mt-1" type="text" id="description" name="shop[description]" required>
            </div>
            <div>
                <label class="form-label mt-1" for="website">Website URL</label>
                <input class="form-control mt-1" type="text" id="website" name="shop[website]" required>
            </div>
            <button class="btn btn-primary my-2 rounded-pill">Add a new shop!</button>
        </form>
        <a href="/coffeeshops">Back to Coffeeshop Directory!</a>
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.validated-form')

        // Loop over them and prevent submission
        Array.from(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>